/*-- scss:defaults --*/

$primary: #0093cb !default;
$font-size-root: 18px !default;

/* Asegura que todo el texto quede justificado */
body {
  text-align: justify;
}

/* Justifica específicamente párrafos */
p {
  text-align: justify;
}

/*-- scss:rules --*/

.sidebar-title {
  color: #0093cb;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* callouts */
.callout-quiz {
  padding-bottom: 1em;
}
div.callout-quiz.callout {
  border-left-color: #FFC000;
}
div.callout.callout-quiz > .callout-header {
  background-color: #FFFFD0;
}
div.callout.callout-quiz .callout-title-container::before {
  content: "¡Ponte a Prueba! ";
}
div.callout.callout-quiz .webex-solution button {
  background-color: #3fb618;
  border-style: none;
}

/* Code ------------------------------------------------ */

code {
  color: #5D3FD3;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: 	#A9A9A9;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}
